<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The prince</title>
    <!---box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!---custom css-->
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>
    <!----------HEADER DESIGN------------------->
    <header class="header">
        <a href="" class="logo">the prince</a>

        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#services">Services</a>
            <a href="#Contact">Contact </a>
        </nav>
    </header>